*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-color: #8fb3d6;
}
/* NAV BAR START */
#logo{
    width: 155px;
    height: 50px;
    border-radius: 50%;
}
header {
    display: flex;
    justify-content: space-evenly;
    background: #34568b;
    border-bottom-left-radius: 25%;
    /* border-bottom-right-radius: 25%; */
    border-bottom: 2px solid #0075ff;
    box-shadow: 5px 5px 25px  #0f397e;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
}
.sb{
    margin-left: 20px;
    margin-top: 15px;  
}
#searchbar{
    outline: none;
    border: 1px solid #34568b;
    width: 250px;
    height: 25px;
    font-size: 15px;
}
.search{
    color: blue;
    font-size: 15px;
    height: 25px;
}
.search:hover{
    cursor: pointer;
}
nav ul{
    display:flex;
    margin-top: 15px;
}
nav ul li{
    list-style: none;
}
nav ul  a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    color: white;
    transition: ease-in-out all 0.5s;
}
nav ul a:hover{
    color: black;
    font-size: larger;
}
/* NAV BAR END */

/* Main Product START */
main .p1{
    display: flex;
    justify-content:flex-start;
    width: 1000px;
    border: 2px solid #0075ff;
    border-radius: 2%;
    box-shadow: 10px 10px 25px #282e61a8;
    margin: 75px auto auto auto;
}
.p1img{
    width: 175px;
    height: 200px;
    border-radius: 25%;
    margin: 5px auto auto 5px; 
}
.p1T h3{
    margin: 10px auto auto 10px;
    text-align: center;
    font-size: 30px;
}
.p1T p{
    margin: 10px auto auto 10px;    
    text-align: left;
    font-size: 20px;
}
#buP1{
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    background-color: #0f397e;
    margin: 5px 10px 5px 80%;
}
#buP1:hover{
    cursor: pointer;
    color: black;
}
/* Main Product END */
/* VIP TRAIN CARD START */
.imgtrain{
    display: flex;
    width: 175px;
    height: 200px;
    border-radius: 15%;
    margin: auto auto 0px auto;
}
.train{
    display: block;
    width: 177px;
    border: 2px solid black;
    border-radius: 10%;
    box-shadow: 10px 10px 25px #282e61a8;
    margin: 75px 50% auto 50%;
}
.train h3{
    font-style: italic;
    font-size: 25px;
    padding-left: 5px;
}
.train p{
    font-size: 20px;
    padding-left: 2px;

}

/* VIP TRAIN CARD END */

/* Different Products START */
.trainc{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
/* Different Products END */

/* FOOTER START */
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    border-top: 2px solid #0075ff;
    background-color: #34568b;
    border-top-right-radius: 25%;
    box-shadow: 5px 5px 25px  #0f397e;
}
form{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}
form label{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}
form input{
    outline: none;
    border: 1px solid navy;
    border-radius: 5%;
    font-size: 20px;
}
.bu{
    border-radius: 20%;
    border: 2px solid #34568b;
    margin-bottom: 5px;
}
footer p{
    font-size: 15px;
    font-weight: bold;
    color: black;
}
footer div ul{
    list-style:inside;
    margin-right: 75px;
}
footer div a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.dday{
    color: black;
    font-size: 20px;
    font-style: italic;
}
/* FOOTER END */

/* SIGN UP PAGE START */
.SU{
    background-image: url(../Images/bgeco1.jpg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.MainSU{
    display: flex;
    justify-content: flex-start;
    flex-wrap:nowrap;
    margin-top: 10%;
    margin-left: 10%;
}
.MainSU form label{
    font-size: 15px; 
}
.MainSU form input{
    margin-bottom: 10px;
}
#sg{
    font-size: 25px;
    margin-bottom: 15px;
    margin-left: 15px;
    outline: none;
    background-color: #c9cade;
}
.buSU{
    width: 100%;
    height: 12%;
    outline: none;
    border: 1px solid transparent ;
    background-color: #34568b;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
/* SIGN UP PAGE END */

/* RESPONSIVENESS */
@media screen and (max-width:1400px){

    .train{
        margin-right: auto;
        margin-left: auto;
    }
    footer{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:1080px) {
    header{
        flex-wrap: wrap;
    }
    nav ul  a{
        margin-left: 10px;
    }
}
@media screen and (max-width:908px){
    header{
        flex-wrap: wrap;
    }
    nav ul{
        margin-bottom: 15px;
    }
    .MainSU form{
        margin-top: 100px;
    }
}
@media screen and (max-width:746px){
    nav ul  a{
        margin-left: 10px;
        justify-content: flex-start;
    }
    .train{
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (max-width:500px){
    header{
    flex-wrap: wrap;
    }
    nav ul  a{
        margin-left: 5px;
        border: 1px solid  lightblue;
        border-radius: 10px;
        padding: 1px;
    }
    nav ul{
        margin-right: 5px;
        padding: 5px;
    }
    .train{
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width:478px) {
    nav ul{
        margin-bottom: 15px;
    }
    .sb{
        margin-bottom: 5px;
    }
    footer ul{
        margin-top: 10px;
    }
}

@media screen and (max-width:414px){
    nav ul{
        margin-bottom: 15px;
    }
    nav ul  a{
        justify-content: center;
    }
    .train{
        margin-right: auto;
        margin-left: auto;
    }
    .sb{
        margin-top: -5px;
        margin-bottom: 5px;
    }
}